@font-face {
    font-family: myfont;
    src: url(Opun-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0px;
    background-color: #ffd7b5;
    font-family: myfont;
    /* background-size: 100% cover; */
    
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    /* border: solid 1px black; */
    /* padding: 10px; */
}
.grid-container > div{
    /* border: 1px solid black; */
    height: 100%;
}

#header{
    grid-column: 1/span 1;
    position: fixed;
    background-color: #ea7d3b;
    z-index: 90;
    width: 100%;
    height: 8%;
    top: 0px;

}
#space1{
    background-image: url("img/BG_Header.png");
    background-repeat: no-repeat;
    position: fixed;
    z-index: 15;
    width: 100%;
    top: 8%;
    height: 40px;
}

#main{
    grid-column: 1/span 1;
    margin-top: 50px;
    height: auto;
}
#space2{
    background-image: url("img/Space.png");
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
    top: -40px;
    height: 40px;
}

#menu{
    grid-column: 1/span 1;
}

#info{
    grid-column: 1/span 1;
    /* height: 700px; */
}

#footer{
    grid-column: 1/span 1;
    background-color: #ea7d3b;
    height: 200px;
    color: white;
    text-align: center;
    font-size: 10px;
}

#main > img{
    display: block;
    margin: auto;
    width: 90%;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.flex_container > div{
    /* border: 1px solid turquoise; */
    margin: 10px 60px;
    text-align: center;
}

.flex_container > div >img{
    display: block;
    height: 100px;
}

.grid_footer{
    display: grid;
    grid-template-columns: 20%;
    margin: 10px;
    position: absolute;
    font-size: 15px;
}
.grid_footer > div > img{
    width: 35px;
    margin-right: 10px;
}
.grid_footer > div{
    align-items: center;
    margin-bottom: 5px;
}

#facebook,#instagram{
    grid-column: 1/span 1;
    display: flex;
    align-items: center;
}

/* .menu{
    height: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
} */

.menu{
    font-size: 28px;
    display: inline;
    margin-left: 26.5px;
    color: white;
    padding-bottom: 35px;
    padding-left: 8.5px;
    padding-right: 8.5px;
    cursor: default;
}
.logo{
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user{
    position: absolute;
    top: 50%;
    right: 20px;
    justify-content: center;
    transform: translate(0, -50%);

    color: white;
    font-size: 15px;
    vertical-align: middle;
}
.user img{
    width: 35px;
    height: 35px;
    object-fit: cover;

    vertical-align: middle;
    border-radius: 50%;
}

#footer > img{
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 35px;
}

#btnTop{
    display: none;
    position: fixed;
    width: 30px;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 100;

    transition: 0.5s;
}

#btnTop:hover{
    opacity: 1;
}

.form-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

.form-container, .store-container{
    max-width: 300px;
    padding: 20px;
    background-color: white;
}
.store-container{
    max-width: 500px;
}

a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    background: #f1f1f1;
}
.store-container input[type=text], .store-container input[type=number], #type {
    width: 98%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    background: #f1f1f1;
    font-family: myfont;
    font-size: 10px;
}

#type{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

h1,h3{
    text-align: center;
    line-height: 10px;
}
b{
    font-size: 15px;
}

#myStore b{
    font-size: 10px;
}

.form-container > .btn, .store-container>.btn{
    background-color: #ea7d3b;
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px 0px;
    opacity: 0.8;
}

.form-container > .btn:hover, .store-container > .btn:hover{
    opacity: 1;
}

.form-container > a, .store-container > a{
    color: gray;
    position: fixed;
    top: 10px;
    right: 10px;
    line-height: 18px;
    font-size: 18px;
}

#signup{
    color: #ea7d3b;
    opacity: 0.8;
    position: static;
    font-size: 13px;
}
#signup:hover{
    opacity: 1;
}
p{
    display: inline;
    color: gray;
    font-size: 10px;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    top: 0;
    left: 0;
    display: none;
}

.sidenav{
    height: 0;
    width: 45px;
    position: fixed;
    z-index: 10;
    top: 8%;
    left: 26.5px;
    background-color: #ea7d3b;
    overflow-y: hidden;
    transition: 0.5s;

    text-align: center;
    font-size: 25px;
    line-height: 30px;
}

.sidenav a{
    text-decoration: none;
    color: white;
    margin: 8px auto;
    vertical-align: inherit;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.sidenav img{
    width: 30px;
    display: block;
    margin: 8px auto;
}

.sidenav img:hover{
    opacity: 0.8;
}
.profilehead{
    margin-top: 100px;
    text-align: center;
    color: #ea7d3b;
    font-size: 15px;
}
.profilehead a{
    text-decoration: none;
    color: #ea7d3b;
}
.profilehead a:hover{
    color: #a74c13;
}
.grid-profile{
    display: grid;
    width: 70%;
    grid-template-columns: 40% 60%;
    margin: 0 15%;
    border-radius: 40px;
    background-color: #f3b690; 
}
.grid-profile > div{
    /* border: 1px solid black; */
    padding: 5%;
}
#imgprofile{
    grid-column: 1/span 1;
    text-align: center;
}
#imgprofile img{
    /* width: 300px; */
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    transition: 0.3s;
    cursor: pointer;
}

#imgprofile img:hover{
    opacity: 0.7;
}

#editPic{
    color: #ea7d3b;
    text-decoration: none;
    cursor: pointer;
    width: 20%;
    margin: auto;
}
#infouser{
    grid-column: 2/span 1;
}

.btnlogout{
    background-color: #ea7d3b;
    padding: 10px;
    color: white;
    cursor: pointer;
    width: 15%;
    border: none;
    padding: 10px 0px;
    opacity: 0.8;
    margin: 20px 42.5%;
    margin-bottom: 80px;
}
.btnlogout:hover{
    opacity: 1;
}
#infouser input[type=text], #infouser input[type=email] {
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    background: #dddddd;
    font-family: myfont;
    font-size: 15px;
}

.hidden{
    display: none;
}

.modal{
    display: none;
    position: fixed;
    z-index: 109;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content{
    margin: auto;
    display: block;
    height: 80%;
    max-height: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;

    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom{
    from{-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1)}
}

@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.sidecart {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 109;
    top: 0;
    right: 0;
    background-image: url("img/BG_Cart.png");
    background-repeat: no-repeat;
    background-color: #ffd7b5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidecart a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidecart a:hover{
    color: #818181;
}

.sidecart .closebtn{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    margin-left: 50px;
}

.sidecart h1{
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    color: #ea7d3b;
}

#cart{
    width: 90%;
    background-color: white;
    max-height: 50%;
    margin: auto;
    border-radius: 20px;
    padding: 20px 0;
}

#main2{
    height: 500px;
}

#addcart{
    height: 40px;
    width: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #ea7d3b;
    border: none;
    color: white;
    font-family: myfont;
    cursor: pointer;
}
.UploadFile{
    font-family: myfont;
    font-size: 10px;
}

#info2{
    grid-column: 1/span 1;
    height: 700px;
    /* background-color: black; */
}

.contactus{
    margin: 100px auto;
    width: 80%;
    font-size: 0;
    /* height: auto; */
    /* background-color: black; */
}

.contactus img{
    width: 100%;
}

.flip{
    transform: scaleY(-1);
}

.content{
    background-color: white;
}
/* -------------------------------------------------------------------------- */